body{
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 5vh;
}

.startScreen{
  align-items: center;
  background: rgb(134,191,244);
  background: radial-gradient(circle, rgba(134,191,244,1) 0%, rgba(48,136,255,1) 67%, rgba(58,64,90,1) 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hideStartScreen{
  display: none;
}

h1.header{
  font-family: 'Righteous', arial;
  font-size: 3.5rem;
}

h2.header{
  font-family: 'Righteous', arial;
  font-size: 2rem;
  text-align: center;
}

p.reminder{
  font-family: 'Source Code Pro', Trebuchet MS;
  font-size: 1.2rem;
  text-align: center;
}

.heading{
  margin-left:15vh;
}

p,
.instructions,
.rules{
  font-family: 'Source Code Pro', Trebuchet MS;
}

.instructions{
  font-size: 1.3rem;
}

.rules{
  font-size: 2rem;
}

.startButton{
  display: flex;
}


.startGameEasy,
.startGameMedium,
.startGameHard{
  background-color: #AEC5EB;
  border: solid 0.5px black;
  border-radius: 5px;
  flex-direction: row;
  font-family: 'Source Code Pro', Trebuchet MS;
  font-size: 1.2rem;
  padding: 4px 10px;
  width: 16vh;
}

.buttonContainer{
  margin: 30px 5vh;
}

.photo-wrap{
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
}

.host-photo{
  border-radius: 5px;
  width: 50vh;
}

#guessingGameEasy{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(153,255,104,1) 50%, rgba(255,255,255,1) 100%);
}

#guessingGameMedium{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,214,43,1) 50%, rgba(255,255,255,1) 100%);
}

#guessingGameHard{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,134,82,1) 50%, rgba(255,255,255,1) 100%);
}

#guessingGameEasy,
#guessingGameMedium,
#guessingGameHard{
  display: none;
  height: 120vh;
  width: 100vw;
}

.gameEasy,
.gameMedium,
.gameHard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 70vh;
}

.guessFieldEasy,
.guessSubmitEasy,
.guessFieldMedium,
.guessSubmitMedium,
.guessFieldHard,
.guessSubmitHard{
  border: solid 0.5px black;
  border-radius: 5px;
}

.guessFieldEasy,
.guessFieldMedium,
.guessFieldHard{
  padding: 3px 7px;
  width: 39vh;
}

.submitButton{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 16vh;
}

.guessSubmitEasy,
.guessSubmitMedium,
.guessSubmitHard{
  font-family: 'Source Code Pro', Trebuchet MS;
  font-size: 2vh;
  padding: 4px 10px;
}

label{
  font-family: 'Source Code Pro', Trebuchet MS;
  font-size: 3vh;
}

.reset-wrap,
.reset-wrap-medium,
.reset-wrap-hard{
  margin-left: auto;
  margin-right: auto;
  width: 16vh;
}

button{
  border: solid 0.5px black;
  border-radius: 5px;
  font-family: 'Source Code Pro', Trebuchet MS;
  font-size: 2vh;
  padding: 4px 10px;
}

#menuEasy,
#menuMedium,
#menuHard{
  cursor: pointer;
}
